@import "tailwindcss";

@theme {
  --font-raleway: "Raleway", sans-serif;
}

@font-face {
  font-family: "YRFLAUNT";
  src: url("/assets/fonts/YRFLAUNT-BOOK.OTF") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YRFLAUNT";
  src: url("/assets/fonts/YRFLAUNT-MEDIUM.OTF") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/assets/fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: "YRFLAUNT", sans-serif;
}
